<div class="lista_tabela">
<h1>Twoja lista filmów</h1>

<p id="notice"><%= notice %></p>

<p>Filtr:
<%= link_to 'Obejrzane', filmy_path(:filter => "seen") %> |
<%= link_to 'Nieobejrzane', filmy_path(:filter => "unseen") %> |
<%= link_to 'Wszystkie', filmy_path %>
</p>

<table>
  <tr>
    <th>Tytuł</th>
	<th>Rok</th>
    <th><div class="seen"></div></th>
	<th>Etykiety</th>

    <th>Usuń</th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= link_to truncate( status.movie.title , :length => 35), status %></td>
	<td><%= status.movie.year[0..3] %></td>
	<% if status.seen %>
    	<td><div class="seen"></div></td>
	<% else %>
    	<td><div class="unseen"></div></td>
	<% end %>
	<td>
	  <% status.tags.each do |t| %>
		<% if status.tags.last == t %>
		  <%= t.name %>
		<% else %>
		  <%= t.name %> |
		<% end %>
	  <% end %>
	</td>
	
    <td><%= link_to '', status, method: :delete, data: { confirm: 'Jesteś pewien?' }, :class => "x" %></td>
  </tr>
<% end %>
</table>

<h3><%= link_to 'Dodaj nowy film', wyszukaj_path %></h3>
</div>