<p id="notice"><%= notice %></p>

<h1>Twoja lista filmów</h1>

<table>
  <tr>
    <th>Tytuł</th>
    <th>Czy obejrzano</th>
    <th>Twój opis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= status.movie.title %></td>
    <td><%= status.seen %></td>
    <td><%= status.description %></td>
    <td><%= link_to 'Szczegóły', status %></td>
    <td><%= link_to 'Edycja', edit_status_path(status) %></td>
    <td><%= link_to 'Usuń', status, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj nowy film', new_movie_path %>
