<p id="notice"><%= notice %></p>

<h1>Twoja lista filmów</h1>

<table>
  <tr>
    <th>Tytuł</th>
	<th>Rok</th>
    <th><div class="seen"></div></th>
	<th>Etykiety</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td>  <%= truncate( status.movie.title , :length => 35) %></td>
	<td><%= status.movie.year[0..3] %></td>
	<% if status.seen %>
    	<td><div class="seen"></div></td>
	<% else %>
    	<td><div class="unseen"></div></td>
	<% end %>
	
	 <td>
	 <% status.tags.each do |t| %>
		<% if status.tags.last == t %>
		  <%= t.name %>
		<% else %>
		  <%= t.name %> |
		<% end %>
	  <% end %>
	</td>
	
    <td><%= link_to 'Szczegóły', status %></td>
    <td><%= link_to 'Edycja', edit_status_path(status) %></td>
    <td><%= link_to 'Usuń', status, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj nowy film', new_movie_path %>
