<div class="lista_tabela">
<h1>Twoja lista filmów</h1>

<p id="notice"><%= notice %></p>

<p>Filtr:
<%= link_to 'Obejrzane', filmy_path(:filter => "seen") %> |
<%= link_to 'Nieobejrzane', filmy_path(:filter => "unseen") %> |
<%= link_to 'Wszystkie', filmy_path %>
</p>

<table>
  <tr>
    <th class="t_len">Tytuł <%= link_to '&darr;'.html_safe, filmy_path(:order => "t_asc") %> <%= link_to '&uarr;'.html_safe, filmy_path(:order => "t_desc") %></th>
	<th class="y_len">Rok <%= link_to '&darr;'.html_safe, filmy_path(:order => "y_asc") %> <%= link_to '&uarr;'.html_safe, filmy_path(:order => "y_desc") %></th>
    <th class="s_len"><div class="seen"></div></th>
	<th class="e_len">Etykiety</th>
    <th class="u_len"></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td class="t_len"><%= link_to truncate(status.movie.title , :length => 32), status %></td>
	<td class="y_len"><%= status.movie.year[0..3] %></td>
	<% if status.seen %>
    	<td class="s_len"><div class="seen"></div></td>
	<% else %>
    	<td class="s_len"><div class="unseen"></div></td>
	<% end %>
	<td class="e_len">
	  <% status.tags.each do |t| %>
		<% if status.tags.last == t %>
		  <%= link_to t.name, t %>
		<% else %>
		  <%= link_to t.name, t %> |
		<% end %>
	  <% end %>
	</td>
	
    <td class="u_len"><%= link_to '', status, method: :delete, data: { confirm: 'Jesteś pewien?' }, :class => "x" %></td>
  </tr>
<% end %>
</table>

<h3><%= link_to 'Dodaj nowy film', wyszukaj_path %></h3>
</div>
