<p id="notice"><%= notice %></p>

<h1>???Lista filmów???</h1>

<table>
  <tr>
    <th>Opis</th>
    <th>Czy obejrzano</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= status.description %></td>
    <td><%= status.seen %></td>
    <td><%= link_to 'Szczegóły', status %></td>
    <td><%= link_to 'Edycja', edit_status_path(status) %></td>
    <td><%= link_to 'Usuń', status, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy film', new_status_path %>
