<p id="notice"><%= notice %></p>

<h1> Dodaj film do bazy!</h1>

<p>
  <img src="http://cf2.imgobject.com/t/p/w185//<%= @film.poster_path %>" />
</p>

<p><b>Tytuł filmu: </b><%= @film.title %></p>

<p>
  <b>Rok:</b>
  <%= @film.year[0..3] %>
</p>

<p>
  <b>Kraje:</b>
  <%= @film.country %>
</p>

<p>
  <b>Gatunki:</b>
  <%= @film.genre %>
</p>

<p>
  <b>Ogólny opis:</b>
  <%= @film.overview %>
</p>

<hr>

<%= render 'form' %>
