<p id="notice"><%= notice %></p>

<h1>Informacje o filmie</h1>

<p>
  <b>[Tu będzie plakat!]</b>
  <%= @status.movie.poster_path %>
</p>

<p>
  <b>Tytuł</b>
  <%= @status.movie.title %>
</p>

<p>
  <b>Czy obejrzano:</b>
  <%= @status.seen %>
</p>

<p>
  <b>Twój opis:</b>
  <%= @status.description %>
</p>

<p>
  <b>Rok:</b>
  <%= @status.movie.year %>
</p>

<p>
  <b>Kraj(e):</b>
  <%= @status.movie.country %>
</p>

<p>
  <b>Gatunek(i):</b>
  <%= @status.movie.genre %>
</p>

<p>
  <b>Opis:</b>
  <%= @status.movie.overview %>
</p>

<p>
  <b>Etykiety przypisane do filmu:</b>
  <% @status.tags.each do |t| %>
    <% if @status.tags.last == t %>
      <%= link_to t.name, t %>
	<% else %>
	  <%= link_to t.name, t %> |
    <% end %>
  <% end %>
</p>

<%= link_to 'Edycja', edit_status_path(@status) %> |
<%= link_to 'Wstecz', statuses_path %>
