<p id="notice"><%= notice %></p>

<h1>Informacje o filmie</h1>

<p>
  <img src="http://cf2.imgobject.com/t/p/w185//<%= @status.movie.poster_path %>" />
</p>

<p>
  <b>Tytuł</b>
  <%= @status.movie.title %>
</p>

<p>
  <b>Czy obejrzano:</b>
	<% if @status.seen %>
    	Tak
	<% else %>
    	Nie
	<% end %>
</p>

<p>
  <b>Twój opis:</b>
  <%= @status.description %>
</p>

<p>
  <b>Rok:</b>
  <%= @status.movie.year[0..3] %>
</p>

<p>
  <b>Kraje:</b>
  <%= @status.movie.country %>
</p>

<p>
  <b>Gatunki:</b>
  <%= @status.movie.genre %>
</p>

<p>
  <b>Ogólny opis:</b>
  <%= @status.movie.overview %>
</p>

<p>
  <b>Etykiety przypisane do filmu:</b>
  <% @status.tags.each do |t| %>
    <% if @status.tags.last == t %>
      <%= link_to t.name, t %>
	<% else %>
	  <%= link_to t.name, t %> |
    <% end %>
  <% end %>
</p>

<%= link_to 'Edycja', edit_status_path(@status) %> |  
<%= link_to 'Usuń', @status, method: :delete, data: { confirm: 'Jesteś pewien?' } %> |  
<%= link_to 'Wstecz', filmy_path %>
