<p id="notice"><%= notice %></p>

<h1>???O filmie???</h1>

<p>
  <b>Opis:</b>
  <%= @status.description %>
</p>

<p>
  <b>Czy obejrzano:</b>
  <%= @status.seen %>
</p>

<p>
  <b>Szczegółowe informacje o filmie:</b>
  <%= @status.movie.title %><br />
  <%= @status.movie.overview %><br />
    
  Tu będą informacje pobrane z @status.movie
</p>

<p>
  <b>Etykiety przypisane do filmu:</b>
  <% @status.tags.each do |t| %>
    <% if @status.tags.last == t %>
      <%= t.name %>
	<% else %>
	  <%= t.name %> |
    <% end %>
  <% end %>
</p>

<%= link_to 'Edycja', edit_status_path(@status) %> |
<%= link_to 'Wstecz', statuses_path %>
