<p id="notice"><%= notice %></p>

<h1>Lista filmów w bazie</h1>

<p>Nie edytować i nie usuwać filmów!</p>

<table>
  <tr>
    <th>ID</th>
	<th>Tytuł</th>
    <th>Rok</th>
    <th>Kraje</th>
    <th>Gatunki</th>
    <th>Id2</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.id %></td>
    <td><%= movie.title %></td>
    <td><%= movie.year %></td>
    <td><%= movie.country[0...10]  %></td>
    <td><%= movie.genre[0...10]  %></td>
    <td><%= movie.id2 %></td>
    <td><%= link_to 'Szczegóły', movie %></td>
    <td><%= link_to 'Edycja', edit_movie_path(movie) %></td>
    <td><%= link_to 'Usuwanie', movie, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
  </tr>
<% end %>
</table>

<br />