<p id="notice"><%= notice %></p>

<h1>Wyszukaj film</h1>

<%= form_tag :controller => 'movies', :action => 'search', :method => 'get' do -%>
	<p>
		<%= text_field_tag :search, params[:search], :id => 'search_field' %>
		<%= submit_tag "Szukaj", :name => nil, :class => "form_submit" %>
	</p>

<% end %>

<% if @searchb != nil %>

	<% @searchb.each do |movie| %>
	  <tr>
		<td><%= movie %></td><br>
	  </tr>
	<% end %>

<% end %>

<br />

<h4>Albo sam uzupełnij dane:</h4>

<%= render 'form' %>
