<p id="notice"><%= notice %></p>

<h1>Wyniki wyszukiwania</h1>

<% @searchb.each do |movie| %>
    <br />
	<%= form_tag :controller => 'movies', :action => 'create', :method => 'post' do -%>
	  <tr>
		  <td>
		  <%= hidden_field_tag 'm_id', movie[2] %>
		  <%= submit_tag movie[0]+' ('+movie[1][0..3]+')', :name => 'movie_t', :class => "search_submit" %>
		  </td><br />
	   </tr>
	<% end %>
<% end %>

<br />
<h3>Nie tego szukałeś?</h3>

<%= form_tag :controller => 'movies', :action => 'search', :method => 'get' do -%>
	<p>
		<%= text_field_tag :search, params[:search].gsub("+"," "), :id => 'search_field' %>
		<br /><br />
		<%= submit_tag "Szukaj ponownie", :name => nil, :class => "form_submit" %>
	</p>
<% end %>

<br />
