<p id="notice"><%= notice %></p>

<h1>Informacje o filmie</h1>

<p>
  <b>Tytuł:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Rok:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Kraje:</b>
  <%= @movie.country %>
</p>

<p>
  <b>Gatunki:</b>
  <%= @movie.genre %>
</p>

<p>
  <b>Ogólny opis:</b>
  <%= @movie.overview %>
</p>

<p>
  <b>Id2 (z themoviedb):</b>
  <%= @movie.id2 %>
</p>

<p>
  <b>Ścieżka do plakatu:</b>
  <%= @movie.poster_path %>
</p>

<%= link_to 'Edycja', edit_movie_path(@movie) %> |
<%= link_to 'Wstecz', movies_path %>
