<p id="notice"><%= notice %></p>

<h1>Chcesz zmienić dane?</h1>
<div>(Wpisz tylko nowy adres e-mail jeśli nie chcesz zmieniać hasła.)</div>
<br />

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Podano złe dane:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Adres e-mail' %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Nowe hasło' %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label 'Powtórz nowe hasło' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit 'Zmień dane', :class => "form_submit" %>
  </div>
<% end %>

<br />

<%= link_to 'Usuń konto', @user, method: :delete, data: { confirm: 'Jesteś pewien, że chcesz usunąć konto? Już go nie odzyskasz!' } %>
