<p id="notice"><%= notice %></p>

<h1>Lista użytkowników</h1>
<p>Pa(hahaha)nel admina</p>

<table>
  <tr>
    <th>ID</th>
    <th>Login</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Crypted&nbsppassword&nbsp(first&nbsp10)</th>
    <th>Persistence&nbsptoken&nbsp(first&nbsp10)</th>
    <th></th>

  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= user.admin %></td>
    <td><%= user.crypted_password[0...10] %></td>
    <td><%= user.persistence_token[0...10] %></td>
    <td><%= link_to 'Więcej danych', user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy użytkownik? (np. do testów)', new_user_path %>
