<p id="notice"><%= notice %></p>

<h1>Edycja etykiety</h1>

<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2>Podano złe dane:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nazwa' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Obrazek' %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label 'Filmy z tą etykietą' %><br />
    <% @statuses.each do |s| %>	
	  <%= check_box_tag "tag[status_ids][]", s.id, @tag.statuses.include?(s) %>
	  <%= f.label "tag[status_ids][]", s.movie.title %>
	<% end %>
  </div>  
  <div class="actions">
    <%= f.submit 'Zapisz zmiany', :class => "form_submit" %>
  </div>
<% end %>

<%= link_to 'Wstecz', tags_path %>
