<div class="lista_tabela">

<h1>Twoja lista etykiet</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Nazwa <%= link_to '&darr;'.html_safe, etykiety_path(:order => "asc") %> <%= link_to '&uarr;'.html_safe, etykiety_path(:order => "desc") %></th>
    <th>Obrazek</th>
    <th>Filmy</th>
    <th>Usuń</th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to tag.name, tag %></td>
    <td><%= tag.picture %></td>
    <td><% tag.statuses.each do |s| %>
    <% if tag.statuses.last == s %>
      <%= link_to s.movie.title, s %>
	<% else %>
	  <%= link_to s.movie.title, s %> |
    <% end %>
  <% end %></td>
    <td><%= link_to '', tag, method: :delete, data: { confirm: 'Jesteś pewien?' }, :class => "x"  %></td>
  </tr>
<% end %>
</table>

<h3><%= link_to 'Dodaj nową etykietę', etyk_nowa_path %></h3>

</div>
