<p id="notice"><%= notice %></p>

<h1>Szczegóły etykiety</h1>

<p>
  <b>Nazwa:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Obrazek:</b>
  <%= @tag.picture %>
</p>

<p>
  <b>Filmy z tą etykietą:</b>
  <% @tag.statuses.each do |s| %>
    <% if @tag.statuses.last == s %>
      <%= s.movie.title %>
	<% else %>
	  <%= s.movie.title %> |
    <% end %>
  <% end %>
</p>

<%= link_to 'Edycja', edit_tag_path(@tag) %> |
<%= link_to 'Wstecz', tags_path %>
