<p id="notice"><%= notice %></p>

<h1>Podaj dane logowania</h1>

<%= form_for(@user_session) do |f| %>
    <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2>Podano złe dane:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label 'Login' %> <br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label 'Hasło' %> <br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Zaloguj się", :class => "form_submit" %> </p>
<% end %>

<div class="clearer"></div>
