<!DOCTYPE html>
<html>
<head>
  <title>HitchKot - projekt zaliczeniowy</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

    <section id="hist">
 
    <div id="hist_in">
    	
    	<div id="hist1">
        	<p> HISTORIA KRYJĄCA SIĘ ZA STRONĄ HITCHKOT</p>
            <br>
	        <p><a href="#">schowaj opis</a></p>
        </div>
	    <div id="hist2"><span id="rog" ><%= image_tag 'rog.png' %> </span></div>
    	<div id="hist3">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker</div>
   	
    </div>
    </section>
   
    <nav>
        <ul>
        	<li id="textlogo">HitchKot</li>
			<li> <a href="#hist"><span id="logo" ><%= image_tag 'logo2.png' %> </span></a></li>
            <li class="menu_symb" id="home"></li>
            <li class="menu_symb" id="profil"></li>
            <li class="menu_symb" id="wyszukaj"></li>
            <li class="menu_symb" id="lista_filmow"></li>
            <li class="menu_symb" id="pomoc"></li>
            <li class="menu_symb" id="logowanie_in"></li>        
        </ul>
    </nav>
</header>

<article id="main">
    <%= yield %>
</article>

<br><br><br>

<footer>
<nav>
        <ul>
        	<li><%= link_to "Strona główna", root_url %></li>
			<% if current_user %>
				<li><%= link_to "Profil", edit_user_path(current_user) %></li>
			<% else %>
				<li><%= link_to 'Profil', login_path %></li>
            <% end %>
			<li><%= link_to "Wyszukaj film", new_movie_path %></li>
			<li><%= link_to "Lista filmów", statuses_path %></li>
			<li><%= link_to "Etykiety", tags_path %></li>
            <li><%= link_to "Pomoc", help_path %></li>
			<% if current_user %>
			  <li><%= link_to "Wyloguj się", logout_path %></li>    
			<% else %>
			  <li><%= link_to "Zaloguj się", login_path %></li> 
			<% end %>
             			
        </ul>
    </nav>
</footer>
	
</body>
</html>